<?xml version="1.0" encoding="utf-8"?>
<web-app>

	<servlet>
		<servlet-name>GuessingServlet</servlet-name>
		<servlet-class>Guessing</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuessingServlet</servlet-name>
		<url-pattern>/GuessingServletUrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StartGuessServlet</servlet-name>
		<servlet-class>StartGuess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartGuessServlet</servlet-name>
		<url-pattern>/StartGuessServletUrl</url-pattern>
	</servlet-mapping>
</web-app>